* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}
header {
  display: flex;
  justify-content: end;
  /* border: 1px solid #221e1e; */
  padding: 10px;
  background-color: yellowgreen;
}

.icon-search {
  position: relative;
  right: 42px;
  bottom: 2px;
}

main {
  margin-top: 2em;

}

.goods-list {
  display: flex;
  justify-content: space-between;
}

.good-item {
  border: 1px solid #000;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.good-item:not(:last-child) {
  margin-right: 2em;
}

